<br>
<img src="/static/career.png" class="rounded-2 img-fluid shadow-sm" alt="..." height="200">
<br><br>
<p class="h2" style="text-align: center; display: grid;">About Jovian</p>
<br>
<div class="row">
    <div class="col-md">
        <p class="text-justify lead fs-6">
            At Jovian, we are dedicated to fostering a dynamic and inclusive work environment where innovation and
            collaboration thrive. Our team is made up of passionate professionals who are committed to pushing the
            boundaries of what's possible in [Industry/Field]. We offer a range of exciting career opportunities
            designed to
            empower our employees, support their growth, and celebrate their achievements. Whether you're just starting
            your
            career or looking to advance to new heights, we provide the tools, resources, and mentorship to help you
            succeed. Join us and be part of a company that values creativity, drives excellence, and makes a meaningful
            impact in the world.
        </p>
    </div>
    <div class="d-none d-md-block col">
        <img src="/static/people.jpg" class="rounded-2 img-fluid shadow-sm" height="100">
    </div>
</div>